# This is a systemd service for Geth
[Unit]
Description=Geth Ethereum Daemon
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=60s
TimeoutStopSec=90s
LimitNOFILE= 65530
ExecStart=/usr/bin/geth \
--syncmode "light" \
--goerli \
--http \
--cache {{ ansible_memtotal_mb * 0.1 |int|abs }} \
--nousb

[Install]
WantedBy=multi-user.target
