# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Primary repo maintainers
*       @cosmos/informal_gaia_maintain @cosmos/interchain_inc_gaia_write

# CODEOWNERS for the CODEOWNER file

/.github/CODEOWNERS @cosmos/informal_gaia_maintain

# CODEOWNERS for interchain tests

/tests/interchain @dasanchez @LexaMichaelides @fastfadingviolets @cosmos/informal_gaia_maintain @cosmos/interchain_inc_gaia_write
