# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Primary repo maintainers
*       @alexanderbez @zmanian @yaruwangway @crodriguezvega @jackzampolin @mmulji-ic @glnro @jtremback @mpoke @sainoe @MSalopek @smarshall-spitzbart

# Governance Process and Docs maintainers
docs/governance/*       @jtremback @mmulji-ic @mpoke

