[Unit]
Description=Althea chain daemon
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=60s
TimeoutStopSec=90s
LimitNOFILE= 65530
ExecStart=/usr/bin/althea \
start

[Install]
WantedBy=multi-user.target
