[Unit]
Description=Althea Orchestrator Daemon
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=60
TimeoutStartSec=60
TimeoutStopSec=60
LimitNOFILE=65530
WorkingDirectory=/usr/bin
Environment=RUST_LOG=INFO
ExecStart=/bin/bash /etc/start-orchestrator.sh

[Install]
WantedBy=multi-user.target
