bin/tokend
debug_container.dot
debug_container.log

# Dependency directories (remove the comment below to include it)
vendor/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/heighliner*
build/
debug_container.dot
debug_container.log

cache
state

configs/logs.json

exclusive.lock
go.work.sum
