# source: https://docs.github.com/en/enterprise-cloud@latest/actions/publishing-packages/publishing-docker-images
name: Create and publish a Docker image

on:
  schedule:
    - cron: "0 0 * * *"
  release:
    types: [published]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get new commits for nightly build
        run: echo "NEW_COMMIT_COUNT=$(git log --oneline --since '24 hours ago' | wc -l)" >> $GITHUB_ENV
        if: "${{ env.GITHUB_EVENT_NAME == 'schedule' }}"

      - name: Set new commits for other builds
        run: echo "NEW_COMMIT_COUNT=1" >> $GITHUB_ENV
        if: "${{ env.GITHUB_EVENT_NAME != 'schedule' }}"

      - name: Log in to the Container registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5.6.1
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: "latest=false"

      - name: Build and push docker image
        uses: docker/build-push-action@v6.13.0
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
        if: ${{ env.NEW_COMMIT_COUNT > 0 }}

      - name: Dispatch Interchain test
        uses: peter-evans/repository-dispatch@v3
        with:
          event-type: image-pushed
          client-payload: |
            {
              "tag_name": "${{ fromJson(steps.meta.outputs.json)['labels']['org.opencontainers.image.version'] }}",
              "ref_name": "${{ fromJson(steps.meta.outputs.json)['labels']['org.opencontainers.image.revision'] }}"
            }
        if: ${{ env.NEW_COMMIT_COUNT > 0 }}
