name: "Nightly E2E run"
on:
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:

  run-tests:
    uses: mmulji-ic/gaia/.github/workflows/test.yml@main

  run-simulations:
    uses: mmulji-ic/gaia/.github/workflows/sims.yml@main

  run-vulncheck:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: run-tests@main
      - uses: actions/checkout@v3.3.0
      - uses: actions/setup-go@v4
        with:
          go-version: 1.20.3
      - name: run-vulncheck
        run: make vulncheck

  run-vulncheck-test-notification:
    needs: run-vulncheck
    if: ${{ failure() }}
    runs-on: ubuntu-latest
    steps:
      - name: Notify Slack on failure
        uses: slackapi/slack-github-action@v1.23.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
          BRANCH: ${{ github.ref_name }}
          RUN_URL: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          COMMITS_URL: "${{ github.server_url }}/${{ github.repository }}/commits/${{ github.ref_name }}"
        with:
          payload: |
            {
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "❗Vunerability tests failed❗",
                    "emoji": true
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":skull: See the <${{ env.RUN_URL }}|run details>"
                  }
                }
              ]
            }
