name: "Release"

on:
  # can be used to re-release an existing tag
  workflow_dispatch:

  push:
    tags:
      - "v[0-9]+\\.[0-9]+\\.[0-9]+"
      - "v[0-9]+\\.[0-9]+\\.[0-9]+-rc[0-9]+"

jobs:
  release:
    runs-on: Gaia-Runner-medium
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: git fetch --force --tags

      - uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Set Env
        run: echo "TM_VERSION=$(go list -m github.com/cometbft/cometbft | sed 's:.* ::')" >> $GITHUB_ENV

      - name: Release
        run: |
          make ci-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Cleanup
        run: |
          sudo rm -rf dist
