name: Sims
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  cleanup-runs:
    runs-on: ubuntu-latest
    steps:
      - uses: rokroskar/workflow-run-cleanup-action@master
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
    if: "!startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/main'"

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2.1.5
        with:
          go-version: 1.18
      - name: Install runsim
        run: go install github.com/cosmos/tools/cmd/runsim@v1.0.0
      - uses: actions/cache@v2.1.7
        with:
          path: ~/go/bin
          key: ${{ runner.os }}-go-runsim-binary

#  test-sim-nondeterminism:
#    runs-on: ubuntu-latest
#    needs: Build
#    steps:
#      - uses: actions/checkout@v2.4.0
#      - uses: actions/setup-go@v2.1.5
#        with:
#          go-version: 1.18
#      - uses: technote-space/get-diff-action@v5.0.2
#        with:
#          PATTERNS: |
#            **/**.go
#            go.mod
#            go.sum
#      - uses: actions/cache@v2.1.7
#        with:
#          path: ~/go/bin
#          key: ${{ runner.os }}-go-runsim-binary
#        if: "env.GIT_DIFF != ''"
#      - name: test nondeterminism
#        run: |
#          make test-sim-nondeterminism
#        if: "env.GIT_DIFF != ''"

  test-sim-import-export:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - uses: technote-space/get-diff-action@v5.0.2
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - uses: actions/checkout@v2.4.0
      - uses: actions/setup-go@v2.1.5
        with:
          go-version: 1.18
      - uses: actions/cache@v2.1.7
        with:
          path: ~/go/bin
          key: ${{ runner.os }}-go-runsim-binary
        if: "env.GIT_DIFF != ''"
      - name: test-sim-import-export
        run: |
          make test-sim-import-export
        if: "env.GIT_DIFF != ''"

  test-sim-after-import:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - uses: actions/setup-go@v2.1.5
        with:
          go-version: 1.18
      - uses: actions/checkout@v2.4.0
      - uses: technote-space/get-diff-action@v5.0.2
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - uses: actions/cache@v2.1.7
        with:
          path: ~/go/bin
          key: ${{ runner.os }}-go-runsim-binary
        if: "env.GIT_DIFF != ''"
      - name: test after import
        run: |
          make test-sim-after-import
        if: "env.GIT_DIFF != ''"

  test-sim-multi-seed-short:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: actions/setup-go@v2.1.5
        with:
          go-version: 1.18
      - uses: technote-space/get-diff-action@v5.0.2
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - uses: actions/cache@v2.1.7
        with:
          path: ~/go/bin
          key: ${{ runner.os }}-go-runsim-binary
        if: "env.GIT_DIFF != ''"
      - name: test-sim-multi-seed-short
        run: |
          make test-sim-multi-seed-short
        if: "env.GIT_DIFF != ''"

  test-liveness:
    runs-on: ubuntu-latest
    needs: Build
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: actions/setup-go@v2.1.5
        with:
          go-version: 1.18
      - uses: technote-space/get-diff-action@v5.0.2
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      - name: start localnet
        run: |
          make clean localnet-start
        if: "env.GIT_DIFF != ''"
      - name: test liveness
        run: |
          ./contrib/localnet-blocks-test.sh 100 5 50 localhost
        if: "env.GIT_DIFF != ''"
