{
  "server": {
    "log_level": "info",
    "address": "127.0.0.1",
    "port": 3000
  },
  "modules": [
    {
      "name": "eth_to_cosmos",
      "src_chain": "{{ .EthChainID }}",
      "dst_chain": "{{ .CosmosChainID }}",
      "config": {
        "tm_rpc_url": "{{ .TmRPC }}",
        "ics26_address": "{{ .ICS26Address }}",
        "eth_rpc_url": "{{ .EthRPC }}",
        "eth_beacon_api_url": "{{ .BeaconAPI }}",
        "signer_address": "{{ .SignerAddress }}",
        "mock": {{ .MockWasmClient }}
      }
    },
    {
      "name": "cosmos_to_eth",
      "src_chain": "{{ .CosmosChainID }}",
      "dst_chain": "{{ .EthChainID }}",
      "config": {
        "tm_rpc_url": "{{ .TmRPC }}",
        "ics26_address": "{{ .ICS26Address }}",
        "eth_rpc_url": "{{ .EthRPC }}",
        "sp1_config": "{{ .SP1Config }}"
      }
    }
  ]
}
