{
  "server": {
    "log_level": "info",
    "port": 3000,
    "address": "127.0.0.1"
  },
  "modules": [
    {
      "name": "cosmos_to_cosmos",
      "src_chain": "{{ .ChainAID }}",
      "dst_chain": "{{ .ChainBID }}",
      "config": {
        "src_rpc_url": "{{ .ChainATmRPC }}",
        "target_rpc_url": "{{ .ChainBTmRPC }}",
        "signer_address": "{{ .ChainBUser }}"
      }
    },
    {
      "name": "cosmos_to_cosmos",
      "src_chain": "{{ .ChainBID }}",
      "dst_chain": "{{ .ChainAID }}",
      "config": {
        "src_rpc_url": "{{ .ChainBTmRPC }}",
        "target_rpc_url": "{{ .ChainATmRPC }}",
        "signer_address": "{{ .ChainAUser }}"
      }
    }
  ]
}
